<div class="blog-nav-bg d-md-none">
  <div class="container">
    <nav class="blog-nav">
      <ul class="blog-menu">
        <li><a href="#">最新消息</a></li>
        <li><a href="#">特別企劃</a></li>
        <li><a href="#">新品上市</a></li>
        <li><a href="#">鏡框小知識</a></li>
      </ul>
      <a href="#" class="blog-search-btn">
        <span class="material-symbols-outlined"> search </span>
      </a>
    </nav>
  </div>
</div>
