.pagination {
  display: flex;
  justify-content: center;
  li {
    border: 1px solid #555555;
    .active {
      background-color: black;
      color: white;
      &:hover {
        background-color: black;
        color: white;
      }
    }
    & + li {
      margin-left: -1px;
    }
  }
  a {
    color: #555555;
    transform: none;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .prev,
  .next {
    font-size: 19px;
    padding: 11px 12px;
    @include mobile() {
      font-size: 16px;
      line-height: 26px;
      padding: 11px;
    }
  }
  .page {
    font-size: 18px;
    padding: 12px 16px;
    @include mobile() {
      font-size: 16px;
      padding: 12px 14px;
    }
  }
}
