.page-title {
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9f1213;
  padding-left: 12px;
  margin-bottom: 32px;
  &-blog {
    @include pad() {
      margin-bottom: 40px;
    }
  }
  @include mobile() {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
