.blog-nav-bg {
  background-color: $color-secondary;
}
.blog-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
  }
}
.blog-menu {
  display: flex;
  li:first-child a {
    padding-left: 0;
  }
  a {
    padding: 13px 24px;
    font-size: 20px;
  }
}
.blog-search-btn {
  line-height: 1;
  span {
    font-size: 24px;
    @include pad() {
      font-size: 40px;
    }
  }
}
