.blog-breadcrumb {
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  @include pad() {
    margin-top: 8px;
  }
  @include pad() {
    margin-top: 16px;
  }
  li {
    a {
      display: inline-block;
      transform: none;
      color: black;
      &:visited {
        color: black;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    & + li {
      padding-left: 4px;
      &::before {
        content: "/";
        padding-right: 4px;
        color: black;
      }
    }
  }
  &-active {
    color: $color-primary;
  }
}
.blog-tag {
  display: flex;
  gap: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  @include mobile() {
    font-size: 16px;
  }
  a {
    color: $color-primary;
  }
}
.blog-detail {
  margin-bottom: 40px;
  @include mobile() {
    margin-bottom: 64px;
  }
  h2 {
    font-size: 48px;
    @include mobile() {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    @include pad() {
      margin-bottom: 24px;
    }
    @include mobile() {
      font-size: 16px;
    }
  }
  img {
    margin-bottom: 8px;
    @include pad() {
      margin-bottom: 16px;
    }
    @include mobile() {
      margin-bottom: 8px;
    }
  }
  p:not(:last-child) {
    margin-bottom: 40px;
    @include pad() {
      margin-bottom: 24px;
    }
    @include mobile() {
      margin-bottom: 16px;
    }
  }
}
.blog-detail-social-share {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #707070;
  margin-bottom: 24px;
  font-weight: bold;
  img {
    width: 24px;
    height: 24px;
  }
}
.blog-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
  }
}
.blog-tags-title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: $color-primary;
  margin-bottom: 4px;
  @include pad() {
    gap: 0;
    font-size: 16px;
  }
  span {
    font-size: 48px;
    @include pad() {
      font-size: 24px;
    }
  }
}
.blog-tags-all {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 24px;
  padding-right: 48px;
  @include pad() {
    padding-right: 36px;
    gap: 0 16px;
  }
  a {
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
    @include pad() {
      font-size: 16px;
    }
  }
}
