<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo-white-bgRed.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>眼鏡形象官網</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <main>
      <div class="page-bg">
        <div class="container">
          <h2 class="page-title">門市據點</h2>
          <div class="row">
            <div class="col-4 col-lg-8 col-md-12">
              <div class="select-city">
                <label for="city">選擇地區</label>
                <select id="city">
                  <option value="台北市">台北市</option>
                  <option value="台中市">台中市</option>
                  <option value="高雄市">高雄市</option>
                </select>
              </div>
            </div>
          </div>
          <ul class="location-card row">
            <li class="col-4 col-lg-6 col-md-12">
              <img src="../assets/images/store-1.png" alt="store" />
              <h3 class="location-card-title">台北中山旗艦店</h3>
              <div class="location-card-body">
                <p>
                  <span class="material-symbols-outlined"> call </span>
                  <span>電話：(02)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span>
                  <span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span>
                  <span>地址：台北市中山區南京東路25巷2-1號</span>
                </p>
              </div>
              <a href="location-detail.html" class="location-detail-btn"
                >詳細資訊</a
              >
            </li>
            <li class="col-4 col-lg-6 col-md-12">
              <img src="../assets/images/store-2.png" alt="store" />
              <h3 class="location-card-title">台北綠園店</h3>
              <div class="location-card-body">
                <p>
                  <span class="material-symbols-outlined"> call </span>
                  <span>電話：(02)000-2345</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span>
                  <span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span>
                  <span>地址：台北市中正區復興南路 132-1 號</span>
                </p>
              </div>
              <a href="#" class="location-detail-btn">詳細資訊</a>
            </li>
            <li class="col-4 col-lg-6 col-md-12">
              <img src="../assets/images/store-3.png" alt="store" />
              <h3 class="location-card-title">台中清水旗艦店</h3>
              <div class="location-card-body">
                <p>
                  <span class="material-symbols-outlined"> call </span>
                  <span>電話：(02)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span>
                  <span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span>
                  <span>地址：台中市清水區經南一路 23 號 8 樓</span>
                </p>
              </div>
              <a href="#" class="location-detail-btn">詳細資訊</a>
            </li>
            <li class="col-4 col-lg-6 col-md-12">
              <img src="../assets/images/store-4.png" alt="store" />
              <h3 class="location-card-title">高雄中正形象店</h3>
              <div class="location-card-body">
                <p>
                  <span class="material-symbols-outlined"> call </span>
                  <span>電話：(07)000-2345</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span>
                  <span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span>
                  <span>地址：高雄市苓雅區中正路 38 號 12 樓</span>
                </p>
              </div>
              <a href="#" class="location-detail-btn">詳細資訊</a>
            </li>
            <li class="col-4 col-lg-6 col-md-12">
              <img src="../assets/images/store-5.png" alt="store" />
              <h3 class="location-card-title">高雄夢時代店</h3>
              <div class="location-card-body">
                <p>
                  <span class="material-symbols-outlined"> call </span>
                  <span>電話：(07)000-1234</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> schedule </span>
                  <span>營業時間：10:00-21:00</span>
                </p>
                <p>
                  <span class="material-symbols-outlined"> location_on </span>
                  <span>地址：高雄市前鎮區中華一路 63 號 6 樓</span>
                </p>
              </div>
              <a href="#" class="location-detail-btn">詳細資訊</a>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
